#
# THIS FILE IS MANAGED BY PUPPET
# <%= file %>
#

# Defaults for puppetmaster - sourced by /etc/init.d/puppetmaster

# Enable puppetmaster service? 
# Setting this to "yes" allows the puppet master service to run.
# Setting this to "no" keeps the puppet master service from running.
#
# If you are using Passenger, you should have this set to "no."
<% if scope.lookupvar('::puppet::master::service_enable') -%>
START=yes
<% else -%>
START=no
<% end -%>

# Startup options
<% if scope.lookupvar('::puppet::master_puppetdlog') -%>
DAEMON_OPTS="--logdest /var/log/puppet/puppetmaster.log"
<% else -%>
DAEMON_OPTS=""
<% end -%>

# On what port should the puppet master listen? (default: 8140)
PORT=8140
